[Desktop Entry]
Name=DexForge GUI
Comment=DexForge Engine - Dex to Java decompiler, powered by JADX
Icon=jadx
Exec={{launchScriptPath}} %f
Terminal=false
Type=Application
Categories=Development;Java;
Keywords=Java;Decompiler;
StartupWMClass=jadx-gui-JadxGUI
MimeType=application/vnd.android.package-archive;application/java-archive;
